<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Library Form</h2>
    <form action="status" method="post" >
		<label for="bookName">Book Name:</label><br>
		<input type="text" id="bookName" name="bookName" required><br><br>

		<label for="authorName">Author Name:</label><br>
        <input type="text" id="authorName" name="authorName" required><br><br>

        <label for="publication">Publication:</label><br>
        <input type="text" id="publication" name="publication" required><br><br>

        <label for="yearOfPublication">Year Of Publication:</label><br>
        <input type="text" id="yearOfPublication" name="yearOfPublication" required><br><br>
       
        <input type="submit" value="Submit">
    </form>
</body>

</html>